# os
.DS_Store
Thumbs.db

# editor files
*~
.idea/

# build 
*.log
/build/
/releases/
/tmp/

# hotkey-grid app user specific config (for finale branch, leave these commented out?)
# config.hkg
# config.hkg.bak

# dev dependencies
node_modules
bower_components
